body {
    background-color: #8D98A7;
}

header {
    text-align: center;
}

h1 {
    color: #eab464;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: black;
    text-decoration: none;
}