body {
    
    background-image: url('/img/fondo-login.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    max-width: 100%;
    position: relative;
    right: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura del contenedor según tus necesidades */
  }
  
  .iniciar-sesion {
    background-color: skyblue;
    height: 30px;
    width: 180px;
    text-decoration: none; /* Quitamos el subrayado del enlace */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  