<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/iniciarSesion.css">
    <title>炎ATLAS炎</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
</head>

<body>
    <main>
        <header>
            <img class="logo" src="img/logo-tienda.png" alt="Logo">
            <h1>Nombre Pagina</h1>
        </header>

        <form class="login" action="/bibloteca" method="get">
            <h2>E-mail</h2>
            <input class="email" type="email" name="email" id="email" placeholder="Ingrese su email" required>
            <h2>Contraseña</h2>
            <input class="password" type="password" name="password" id="password" placeholder="Ingrese su contraseña"
                required>
            <div class="caja1">
                <div class="recordar">
                    <label for="recordar">recordar</label>
                    <input type="checkbox" name="recordar" id="recordar">
                </div>
                <a href="/recuperarContraseña">Olvidé mi contraseña</a>
            </div>
            <button class="iniciar-sesion" type="submit">Iniciar Sesión</button>
        </form>
        <form class="redes" action="/login" method="post">
            <img class="icon" src="img/facebook-icon.png" alt="facebook">
            <button class="facebook" type="button">Continuar con facebook</button>
            <img class="icon" src="img/gmail-icon.png" alt="gmail">
            <button class="gmail" type="button">Continuar con gmail</button>
        </form>


        <footer>
            <span>¿No tienes una cuenta? →</span>
            <a href="http://localhost:3060/registro">Registrate</a>

        </footer>
    </main>
</body>

</html>