<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producto.css">
    <title>Document</title>
    <!-- link para cargar los iconos  -->

    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
      <a href="http://localhost:3060/inicio">
        <div class="logo01">
            <img src="/img/logo-tienda.png" alt="logo-tienda">
        </div>
    </a>

        <!-- barra de búsquedas -->
        <div class="search-container">
            <input type="text" placeholder="buscar juegos" style="font-size: 25px;"
                style="font-family: 'Bauhaus 93', sans-serif;">
            <button class="btn-icon">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;"></i>
            </button>

            <div class="usuario">
              <a href="http://localhost:3060/inicioDeSesion">
                  <button class="btn-logo">
                      <img src="/img/logo-usuario.png" alt="logo-usuario">
                  </button>
              </a>
          </div>
        </div>

        <!-- menu de opciones -->

        <nav class="menu">
            <ul>
              <li><a href="http://localhost:3060/">INICIO</a></li>
              <li><a href="http://localhost:3060/bibloteca">BIBLIOTECA</a></li>
              <li><a href="http://localhost:3060/listaDeDeseos">LISTA DE DESEOS</a></li>
              <li><a href="http://localhost:3060/carrito">CARRITO</a></li>
            </ul>
        </nav>


    </header>
    <main>
        
        <div class="titulo-del-juego">
            <h2 class="cambiar-tamano">Grand Theft Auto VI</h2>
            <h2 class="precio-juego-movil">$99,98</h2>
        </div>


        <div class="precio-juego-movil">
           
        </div>
    
        

        <!-- carucel de fotos   -->
 <div class="carrusel-todo">
    <div class="carrusel">
     <ul class="carrusel-fotos">
       <li id="foto1"><img src="/img/gta.png" alt=""></li>
       <li id="foto2"><img src="/img/gta01.png" alt=""></li>
       <li id="foto3"><img src="/img/gta02.png" alt=""></li>
       <li id="foto4"><img src="/img/gta03.png" alt=""></li>
       <li id="foto5"><img src="/img/gta04.png" alt=""></li>
       
     </ul>
   </div>
   
   <ul class="carrusel-menu">
     <li><a href="#foto1"><img src="/img/gta.png" alt=""></a></li>
     <li><a href="#foto2"><img src="/img/gta01.png" alt=""></a></li>
     <li><a href="#foto3"><img src="/img/gta02.png" alt=""></a></li>
     <li><a href="#foto4"><img src="/img/gta03.png" alt=""></a></li>
     <li><a href="#foto5"><img src="/img/gta04.png" alt=""></a></li>
     
   </ul>
   
   </div>
       <!-- fin de carucel   -->

       <div class="precio-juego">
        <h2 class="precio-juego-pc">$99,98</h2>
    </div>



       <!-- inicio de botones    -->


    <style>
        .btn {
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
  
        .btn-1 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;
            
        }
  
        .btn-2 {
          color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;
          
        }
  
        .btn-3 {
          color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;
          
        }
    </style>
    
      <div class="contenedor">
        <a href="http://localhost:3060/carrito" class="btn btn-1">COMPRAR AHORA</a>
        <a href="http://localhost:3060/carrito" class="btn btn-2">AGREGAR AL CARRITO</a>
        <a href="http://localhost:3060/listaDeDeseos" class="btn btn-3">A LA LISTA DE DESEOS</a>
      </div>
    </div>
  
    <!-- fin de botones    -->


    <div class="descripcion-juego">
        <h1 class="titulo-juego">Grand Theft Auto VI</h1>
    
        <div class="caracteristicas">
          <h2 class="subtitulo">Características del Juego:</h2>
          <ul>
            <li>Un Mundo Vivo y Dinámico: Explora una ciudad vibrante y llena de vida, donde cada acción que tomes tendrá
              consecuencias en la trama y el entorno. Interactúa con personajes diversos, cada uno con su propia personalidad
              y objetivos.</li>
            <li>Libertad Total: Desde atracos audaces hasta emocionantes persecuciones en coche, la elección es tuya.
              Personaliza tu camino a través del juego, decidiendo si serás un ladrón de guante blanco, un astuto estafador o
              un violento criminal.</li>
            <li>Complejas Misiones: Enfréntate a desafiantes misiones cargadas de acción y adrenalina. Participa en atracos a
              gran escala, emboscadas explosivas y operaciones encubiertas. ¿Tienes lo que se necesita para cumplir con tus
              objetivos y escapar de la ley?</li>
            <li>Sistema de Progresión: A medida que avanzas en el juego, mejora tus habilidades, adquiere nuevas armas y
              desbloquea herramientas especiales para llevar tus actividades criminales al siguiente nivel.</li>
            <li>Modo Multijugador: Únete a tus amigos en una experiencia en línea única, donde podrán formar pandillas y
              conquistar la ciudad juntos, o competir en desafíos de alto riesgo para demostrar quién es el rey del crimen.</li>
          </ul>
        </div>
    
        <div class="historia">
          <h2 class="subtitulo">Historia:</h2>
          <p>En el mundo de <strong>Grand Theft Auto VI</strong>, te encuentras en una ciudad ficticia sumida en el caos y la
            corrupción. Como un joven ambicioso recién llegado a la ciudad, te involucras en el bajo mundo criminal para
            ascender desde las calles hasta las altas esferas del crimen organizado.</p>
          <p>A medida que avanzas, te verás envuelto en una intrincada red de conspiraciones, traiciones y alianzas
            cambiantes. Tendrás que tomar decisiones difíciles que determinarán tu destino y el curso del juego.</p>
        </div>
    
        <div class="preparado">
          <h3 class="subtitulo-preparado">¡Prepárate para la aventura más emocionante en la historia de Grand Theft Auto! El
            poder y la riqueza están al alcance de tu mano, pero también lo están la traición y el peligro. ¿Estás listo para
            dominar las calles y forjar tu imperio criminal? La ciudad te espera en <strong>Grand Theft Auto VI</strong>.</h3>
        </div>
      </div>

  
    </main>
</body>

</html>