<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrate</title>
</head>
<body>
    <img src="logo" alt="">
     <h1>Nombre de la pagina</h1>
      <div>
       <p>nombres</p>
       <input type="text" placeholder="Nombres">
       <p>apellido</p>
       <input type="text" placeholder="Apellidos">
      </div>
      <div>
       <p>email</p>
       <input type="text" placeholder="example@gmail.com">
      </div>
      <div>
       <p>crear contraseña</p>
       <input type="text" placeholder="Contraseña">
       <p>confirmar contraseña</p>
       <input type="text" placeholder="Repita la contraseña">
      </div>
      <div>
       <p>Acepto los terminos y condiciones</p>
      </div>
      <div class="container">
        <a href="http://localhost:3060/iniciarSesion">
          <button class="iniciar-sesion" type="submit">Crear tu cuenta</button>
        </a>
      </div>
      

      <div>
       <a href=" https://mail.google.com">Continua con Gmail</a>
       <a href="https://www.facebook.com/">Continua con Facebook</a>
      </div>
      <div>
        <a>¿ya tenes una cuenta?</a>
       <a href="http://localhost:3060/iniciarSesion">Inicia sesion</a>
      </div>
</body>
</html>