<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link para cargar los css  -->

    <link rel="stylesheet" href="/css/biblioteca.css">
    <link rel="stylesheet" href="/css/cargaDeProducto.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/iniciarSesion.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/listaDeDeseos.css">
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>炎ATLAS炎</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
    <!-- link para cargar los iconos  -->

    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>

    <script src="script.js"></script>

</head>