<header>
    <a href="http://localhost:3060/">
        <div class="logo01">
            <img src="/img/logo-tienda.png" alt="logo-tienda">
        </div>
    </a>

    <!-- barra de búsquedas -->
    <div class="search-container">
        <input type="text" placeholder="buscar juegos" style="font-size: 25px;"
            style="font-family: 'Bauhaus 93', sans-serif;">
        <button class="btn-icon">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;"></i>
        </button>

        <div class="usuario">
            <a href="http://localhost:3060/inicioDeSesion">
                <button class="btn-logo">
                    <img src="/img/logo-usuario.png" alt="logo-usuario">
                </button>
            </a>
        </div>
    </div>

    <!-- menu de opciones -->

    <nav class="menu">
        <ul class="menu-opciones">
            <li><a href="http://localhost:3060/">INICIO</a></li>
            <li><a href="http://localhost:3060/bibloteca">BIBLIOTECA</a></li>
            <li><a href="http://localhost:3060/listaDeDeseos">LISTA DE DESEOS</a></li>
            <li><a href="http://localhost:3060/carrito">CARRITO</a></li>
        </ul>
    </nav>



</header>